<h1>My BusinessUSA Profile</h1>
<%= form_for @profile do |f| %>
  <fieldset>
    <legend>Corporation Name</legend>
  <%= f.label :entity_legal_name %>
  <%= f.text_field :entity_legal_name %><br />
  
  <%= f.label :entity_trade_name %>
  <%= f.text_field :entity_trade_name %><br />
  </fieldset>

  <%= f.label :executor_name %>
  <%= f.text_field :executor_name %><br />

  <fieldset>
    <legend>Mailing Address</legend>
  <%= f.label :mailing_street1 %>
  <%= f.text_field :mailing_street1 %><br />

  <%= f.label :mailing_street2 %>
  <%= f.text_field :mailing_street2 %><br />

  <%= f.label :mailing_state %>
  <%= f.text_field :mailing_state, :input_html => {:size => 2} %><br />

  <%= f.label :mailing_city %>
  <%= f.text_field :mailing_city %><br />

  <%= f.label :mailing_zip %>
  <%= f.text_field :mailing_zip, :input_html => {:size => 10} %><br />
  </fieldset>

  <fieldset>
    <legend>Physical Address</legend>
  <%= f.label :physical_street1 %>
  <%= f.text_field :physical_street1 %><br />

  <%= f.label :physical_street2 %>
  <%= f.text_field :physical_street2 %><br />

  <%= f.label :physical_state %>
  <%= f.text_field :physical_state, :input_html => {:size => 2 } %><br />

  <%= f.label :physical_city %>
  <%= f.text_field :physical_city %><br />

  <%= f.label :physical_zip %>
  <%= f.text_field :physical_zip, :input_html => {:size => 10 }%><br />
  </fieldset>

  <%= f.label :location_county %>
  <%= f.text_field :location_county %><br />
  <br />
  <%= f.submit %>
<% end %>
